@model IEnumerable<OnlineShop.Models.ProductTypes>
@{
    ViewData["Title"] = "Index";
}
<br /><br />

<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Product Type List</h2>
    </div>
    <div class="col-6">
        <a asp-action="Create" class="btn btn-primary">New Product Type</a>
    </div>
</div>

<br />
<h1 class="text-success">@ViewBag.Save</h1>
<div> 
    <table class="table table-stropped border text-center">
        <thead>
        <tr class="table-info">
            <th>@Html.DisplayNameFor(c=>c.ProductType)</th>
            <th>Action</th>  
        </tr>
        </thead>
        <tbody>
        @foreach(var item in Model)
       
        {
            <tr>
                <td>@item.ProductType</td>
                <td>
                        <a asp-action="Edit" asp-controller="ProductType" class="btn btn-success btn-sm" asp-route-id="@item.Id"><i class='fas fa-edit'></i></a>
                        <a asp-action="Details" asp-controller="ProductType" class="btn btn-info btn-sm" asp-route-id="@item.Id"><i class='fas fa-th-list'></i></a>
                        <a asp-action="Delete" asp-controller="ProductType" class="btn btn-danger btn-sm" asp-route-id="@item.Id"><i class='fas fa-trash-alt'></i></a>
                </td>
            </tr>
        }
      </tbody>
    </table>
</div>

